#pane{
     -fx-background-image: url("/resources/background1.jpg");
}

#btn1 {
    -fx-font: 14px "Serif";
}

#btn1:hover {
    -fx-font: 14px "Serif";
}

#textArea {
    -fx-opacity: 0.6;
}

#textField {
    -fx-opacity: 0.8;
}