#pane {
    -fx-background-image: url("/client/resources/background1.jpg");
}

#btnSend {
    -fx-font: 14px "Serif";
}

#btnSend:hover {
    -fx-font: 14px "Serif";
}

#textField {
    -fx-opacity: 0.8;
}

#messagesVBox {
    -fx-opacity: 0.8;
}

#messagesBoxScrollPane {
    -fx-opacity: 0.8;
}

.messageBox {
    /*-fx-background-color: #FFFFFFFF;*/
    -fx-opacity: 0.8;
}