#pane{
     -fx-background-image: url("/client/resources/background1.jpg");
}

#btnSend {
    -fx-font: 14px "Serif";
}

#btnSend:hover {
    -fx-font: 14px "Serif";
}

#textArea {
    -fx-opacity: 0.6;
    -fx-font: 18px "Serif";
}

#textField {
    -fx-opacity: 0.8;
}